@media only screen and (max-width: 1140px){
    .navbar{
        flex-direction: column;
        height: 250px;
        transition: all 0.7s ease-out;
    }
    .nav-list{
        flex-direction: column;
    }
    .rightNav{
        text-align: center;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .hNavResp{
        height: 69px;
    }
    .vClassResp{
        opacity: 0;
    }

    .section{
        flex-direction: column-reverse;
    }
    .paras{
        padding: 0px;
    }
    .text-small{
        text-align: center;
    }
    .text-big{
        text-align: center;
    }

    .buttons{
        text-align: center;
    }

    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
}